<div class="wrapper">
  <div class="row">
    <div class="highlight">
      <form (ngSubmit)="highlight(highlightValue.value)">
        <input [formControl]="highlightValue" placeholder="hight light value" />
      </form>
      <button (click)="removeOldHighlighted()">remove highlight</button>
    </div>
    <div class="underline">
      <form (ngSubmit)="underlineSentence(underlineValue.value)">
        <input
          [formControl]="underlineValue"
          placeholder="underline by base form"
        />
      </form>
      <button (click)="removeAllUnderlinedSentences()">remove underline</button>
    </div>
    <div class="scroller">
      <button (click)="scrollTop()">↑</button>
    </div>
  </div>
  <div class="row">
    <button (click)="reformat()">reformat</button>
    <button (click)="textLint()">textLint</button>
    <button (click)="constituencyParse()" [disabled]="true">
      constituencyParse
    </button>
  </div>
  <div class="row">
    <button (click)="toggleSubtitleButton.emit()">toggle subtitleLine</button>
  </div>
</div>
