<h2>今日の雑誌</h2>
<div class="magazine" *ngIf="!!magazineGroups">
  <div class="magazine-group" *ngFor="let group of magazineGroups; index as i">
    <div>優先度{{ i + 1 }}</div>
    <ng-container *ngIf="group.length > 0; else noMagazines">
      <li class="magazine-group-detail" *ngFor="let magazine of group">
        <a [href]="magazine.link" target="_blank">
          {{ magazine.title }}
        </a>
      </li>
    </ng-container>
    <ng-template #noMagazines>
      本日発売なし。
    </ng-template>
  </div>
</div>
