<div class="wrapper">
  <div class="svg__icon item" (click)="bold()">
    <mat-icon>format_bold</mat-icon>
  </div>
  <div class="svg__icon item" (click)="colorUp()">
    <mat-icon>format_color_text</mat-icon>
  </div>
  <div class="svg__icon item" (click)="backColor()">
    <mat-icon>format_color_fill</mat-icon>
  </div>
  <div class="svg__icon item" (click)="strike()">
    <mat-icon>strikethrough_s</mat-icon>
  </div>
  <div class="svg__icon item" (click)="comment()">
    <mat-icon>comment</mat-icon>
  </div>
  <button class="item" (click)="format()">format</button>
</div>
