.wrapper {
  border: 1px solid #000;
  padding: 5px;
  height: 100%;
  box-sizing: border-box;

  ::ng-deep .mat-tab-group {
    height: 100%;
    mat-tab-header {
      height: 50px;
    }
    .mat-tab-body-wrapper {
      height: calc(100% - 50px);
    }

    app-chat {
      height: 100%;
    }
  }

  &:not(.dark-theme) {
    background-color: #dcdde0;
  }

  .textlint {
    &-header {
      height: 50px;
    }
    &__button {
      background-color: #777;
      color: white;
      cursor: pointer;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      &:hover {
        background-color: #555;
      }
      width: 50%;
      padding: 10px;
      box-sizing: border-box;
    }

    &__content {
      padding: 0 18px;
      overflow: auto;
      height: calc(100% - 50px);

      &:not(.dark-theme) {
        background: #f1f1f1;
      }

      .textlint-detail {
        &__li {
          padding-bottom: 5px;

          &:hover {
            border-bottom: 1px solid #000;
            cursor: pointer;
          }
        }
      }
    }
  }
}
