<div class="wrapper">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="chat"><app-chat></app-chat></mat-tab>
    <mat-tab label="textlint">
      <div class="textlint-result">
        <button
          type="button"
          class="textlint-result__collapsible-button"
          (click)="textLint()"
        >
          Refresh TextLint result
        </button>
        <div class="textlint-result__collapsible-content">
          <ng-container *ngIf="!!textLintErrors; else NoResult">
            <ng-container
              *ngIf="textLintErrors.length > 0; else NoTextLintErrors"
            >
              {{ 'count: ' + textLintErrors.length }}
              <ul>
                <li *ngFor="let error of textLintErrors">{{ error }}</li>
              </ul>
            </ng-container>
            <ng-template #NoTextLintErrors>
              <p>no text lint errors</p>
            </ng-template>
          </ng-container>
          <ng-template #NoResult>
            <ng-container *ngIf="textLintRaisedError; else tryTextLint">
              <p>textlint something went wrong</p>
              <p>please try again latter</p>
            </ng-container>
            <ng-template #tryTextLint>
              <p>try text lint</p>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
