<div class="wrapper" [class.dark-theme]="darkTheme">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="chat"
      ><app-chat [darkTheme]="darkTheme"></app-chat
    ></mat-tab>
    <mat-tab label="textlint">
      <div class="textlint">
        <div class="textlint-header">
          <button type="button" class="textlint__button" (click)="textLint()">
            Refresh
          </button>
          <button
            type="button"
            class="textlint__button"
            (click)="removeOldLint()"
          >
            Remove
          </button>
        </div>
        <div class="textlint__content" [class.dark-theme]="darkTheme">
          <ng-container *ngIf="!!textLintErrors; else NoResult">
            <ng-container
              *ngIf="textLintErrors.length > 0; else NoTextLintErrors"
            >
              {{ 'count: ' + textLintErrors.length }}
              <ul class="textlint-detail">
                <li
                  class="textlint-detail__li"
                  *ngFor="let error of textLintErrors"
                  (click)="onClickMessage(error)"
                >
                  {{ error.line }}-{{ error.message }}({{ error.target }})
                </li>
              </ul>
            </ng-container>
            <ng-template #NoTextLintErrors>
              <p>no text lint errors</p>
            </ng-template>
          </ng-container>
          <ng-template #NoResult>
            <ng-container *ngIf="textLintRaisedError; else tryTextLint">
              <p>textlint something went wrong</p>
              <p>please try again latter</p>
            </ng-container>
            <ng-template #tryTextLint>
              <p>try text lint</p>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
