@import '../styles.scss';

h1 {
  text-align: center;
  a {
    color: #fff;
  }
}

header {
  height: $header-height;

  .toolbar-inner {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    padding: 0 30px;

    &__menu {
      display: flex;
    }

    &__links {
      display: flex;

      &-link {
        padding-right: 5px;

        a {
          color: #fff;
          font-weight: normal;
        }
      }
    }

    &__right {
      margin-left: auto;
      display: flex;
    }

    &__user {
      font-size: 16px;
      margin-right: 20px;
      width: 100px;
    }

    &__account {
      margin-right: 20px;

      &-trigger {
        cursor: pointer;
      }
    }

    &__theme-toggle {
      align-items: center;
      display: flex;
    }
  }
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.32);

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
  }
}
