h1 {
  text-align: center;
  a {
    color: #fff;
  }
}

header {
  .toolbar-inner {
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    padding: 0 30px;

    &__links {
      display: flex;

      &-link {
        padding-right: 5px;

        a {
          color: #fff;
          font-weight: normal;
        }
      }
    }
  }
  margin-bottom: 30px;
}
