<header>
  <h1>アイドル情報まとめ</h1>
  <div class="app-links">
    <div class="app-links_link">
      <a routerLink="/home">home</a>
    </div>
    <div class="app-links_link">
      <a routerLink="/members">members</a>
    </div>
    <!-- <div class="app-links_link">
      <a routerLink="/chat" [class.disabled]="true">chat</a>
    </div> -->
    <div class="app-links_link">
      <a routerLink="/google-search">google search</a>
    </div>
    <div class="app-links_link">
      <a routerLink="/subtitle">subtitle</a>
    </div>
    <div class="app-links_link">
      <a routerLink="/scripts">scripts</a>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
