h1 {
  text-align: center;
}

header {
  max-width: 1000px;
  width: 100%;
  margin: 30px auto;

  .app-links {
    display: inline-flex;

    &_link {
      padding-right: 5px;
    }
  }
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 200px;
}
