<header>
  <mat-toolbar color="primary">
    <div class="toolbar-inner">
      <h1><a routerLink="/home">アイドル情報まとめ</a></h1>
      <div class="toolbar-inner__links">
        <div class="toolbar-inner__links-link">
          <a routerLink="/members">members</a>
        </div>
        <div class="toolbar-inner__links-link">
          <a routerLink="/google-search">search</a>
        </div>
        <div class="toolbar-inner__links-link">
          <a routerLink="/subtitle">subtitle</a>
        </div>
        <div class="toolbar-inner__links-link">
          <a routerLink="/scripts">scripts</a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer></footer>
