<div class="wrapper" *ngIf="!!script">
  <div class="tool">
    <form class="tool__item">
      <div class="form__item">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput [formControl]="titleFormControl" />
          <mat-error *ngIf="titleFormControl.hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form__item">
        <button mat-raised-button color="primary" (click)="save()">save</button>
      </div>
    </form>
    <div class="tool__item">
      <button
        mat-raised-button
        color="primary"
        (click)="deleteScript()"
        [disabled]="!script.id"
      >
        delete
      </button>
    </div>

    <div class="tool__item">
      <button mat-button color="primary" (click)="copy2Clipboard()">
        copy
      </button>
    </div>
    <div class="tool__item">
      <button mat-button color="primary" (click)="undo()">undo</button>
      <button mat-button color="primary" (click)="redo()">redo</button>
    </div>
    <div class="tool__item">
      <button mat-raised-button color="primary" (click)="navigateSubtitle()">
        subtitle
      </button>
    </div>
    <div class="tool__item tool__item--right" *ngIf="script.updated">
      <p>last update:</p>
      <p>{{ script.updated | date: 'short' }}</p>
    </div>
  </div>

  <main class="main">
    <div class="tool-box__wrapper">
      <app-tool-box
        (toggleSubtitleButton)="showSubtitleLine = !showSubtitleLine"
        (loadingStateChange)="loading = $event"
      ></app-tool-box>
    </div>

    <div class="editor">
      <div class="editor__subtitle" *ngIf="showSubtitleLine">
        <div class="editor__subtitle-line"></div>
      </div>

      <quill-editor
        class="editor__main"
        (onEditorCreated)="onEditorCreated($event)"
        (onContentChanged)="onContentChanged($event)"
      ></quill-editor>

      <div class="console__wrapper" [style.top.px]="consolePositionTop">
        <app-console></app-console>
      </div>
    </div>
    <app-balloon></app-balloon>
  </main>
</div>
<div class="loading-modal" *ngIf="loading">loading</div>

<div class="scroller">
  <button mat-raised-button color="primary" (click)="scrollTop()">↑</button>
</div>
