$tool-box-height: 60px;

.tool {
  display: flex;

  &__item {
    margin-right: 20px;

    &--right {
      margin-left: auto;
    }
  }
}

form {
  display: flex;
  .form__item {
    margin-right: 20px;
  }
}

.wrapper {
  margin: 10px;
}

.tool-box__wrapper {
  height: $tool-box-height;
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  background-color: #fff;
}

.editor {
  display: flex;

  &__subtitle {
    align-self: stretch;
    position: relative;
  }

  &__subtitle-line {
    position: absolute;
    left: 450px;
    width: 3px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
  }

  ::ng-deep &__main {
    min-height: 600px;
    width: 70%;
    border: 1px solid #000;
    white-space: pre-line;

    .ql-toolbar {
      position: sticky;
      top: $tool-box-height;
      background: #fff;
      z-index: 1;
    }

    // .ql-editor {
    //   counter-reset: line;
    //   padding-left: 0;
    // }

    // .ql-editor p:before {
    //   counter-increment: line;
    //   content: counter(line);
    //   display: inline-block;
    //   border-right: 1px solid #ddd;
    //   padding: 0 0.5em;
    //   margin-right: 0.5em;
    //   color: #888;
    // }

    .text {
      &--highlighted {
        background-color: red;
        opacity: 7;
      }
      &--underlined {
        border-bottom: solid 2px orange;
      }

      &__tooltip-relative {
        position: relative;

        &:hover .text__tooltip-absolute {
          display: inline-block;
        }
      }

      &__tooltip-absolute {
        position: absolute;
        display: none;
        padding: 2px;
        background-color: rgba(255, 165, 0, 1);
        left: 20px;
        bottom: 20px;
      }
    }
  }

  .console__wrapper {
    width: 30%;
    height: 100%;
    position: sticky;
    top: $tool-box-height;
  }
}
.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: red;
  opacity: 0.7;
  z-index: 1000;
}

.scroller {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.svg__icon {
  &:hover {
    color: #3f51b5;
  }
  cursor: pointer;
}
