@import '../../../styles.scss';

$tool-box-height: 60px;

.tool {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 20px;

    &--right {
      margin-left: auto;
    }
  }
}

form {
  display: flex;
  .form__item {
    margin-right: 20px;
  }
}

.wrapper {
  margin: 10px;
}

.tool-box__wrapper {
  height: $tool-box-height;
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;

  background: #fff;
  &.dark-theme {
    background: $dark-background;
  }
}

.editor {
  display: flex;
  flex-wrap: wrap;
  @include mq('sm') {
    flex-wrap: nowrap;
  }

  &__subtitle {
    align-self: stretch;
    position: relative;
  }

  &__subtitle-line {
    position: absolute;
    left: 440px;
    width: 3px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
  }

  &__subtitle-double-line {
    position: absolute;
    left: 850px;
    width: 3px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
  }

  ::ng-deep &__main {
    @include mq('sm') {
      flex: 70%;
      width: auto;
    }

    border: 1px solid #000;
    white-space: pre-line;

    .ql-toolbar {
      position: sticky;
      top: $tool-box-height;
      z-index: 1;
      background: #fff;
    }

    .ql-container {
      height: calc(100vh - #{$tool-box-height} * 2);
    }

    &.dark-theme {
      .ql-toolbar {
        background: $dark-background;
      }
    }

    [data-comment-uuid] {
      position: relative;
      border-bottom: dotted 2px green;
      padding-bottom: 2px;

      &:hover:after {
        content: attr(data-comment-message) '';
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 25;
        background-color: #c0c0c0;
        box-shadow: 0px 0px 10px;
        width: 200px;
        border: 1px solid green;
      }

      &.focused {
        border: 5px solid green;
      }
    }

    [data-lint-uuid] {
      position: relative;
      border-bottom: dotted 2px red;

      &:hover:after {
        content: attr(data-lint-message) '';
        position: absolute;
        bottom: 20px;
        left: 10px;
        z-index: 25;
        background-color: #c0c0c0;
        box-shadow: 0px 0px 10px;
        width: 200px;
        border: 1px solid red;
      }

      &.focused {
        border: 5px solid red;
      }
    }

    &.dark-theme {
      [data-lint-uuid],
      [data-comment-uuid] {
        &:hover:after {
          background-color: $dark-background;
        }
      }
    }

    .ql-editor {
      // counter-reset: line;
      // padding-left: 0;
      padding-top: 30px;
      p {
        margin: 0px;
      }
    }

    // .ql-editor p:before {
    //   counter-increment: line;
    //   content: counter(line);
    //   display: inline-block;
    //   border-right: 1px solid #ddd;
    //   padding: 0 0.5em;
    //   margin-right: 0.5em;
    //   color: #888;
    // }

    .text {
      &--highlighted {
        background-color: red;
        opacity: 7;
      }
      &--underlined {
        border-bottom: solid 2px orange;
      }

      &__tooltip-relative {
        position: relative;

        &:hover .text__tooltip-absolute {
          display: inline-block;
        }
      }

      &__tooltip-absolute {
        position: absolute;
        display: none;
        padding: 2px;
        background-color: rgba(255, 165, 0, 1);
        left: 20px;
        bottom: 20px;
      }
    }
  }

  .console__wrapper {
    width: 100%;
    order: -1;
    @include mq('sm') {
      order: 0;
      flex: 30%;
      width: auto;
      height: 100%;
      position: sticky;
      top: $tool-box-height;
    }
  }
}
.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: red;
  opacity: 0.7;
  z-index: 1000;
}

.scroller {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.svg__icon {
  &:hover {
    color: #3f51b5;
  }
  cursor: pointer;
}
