<div class="google-search_Wrapper">
  <div class="google_search-input">
    <form [formGroup]="formGroup">
      <div>
        <mat-form-field appearance="fill">
          <input
            class="google_search-input_input"
            type="text"
            matInput
            placeholder="keyword"
            formControlName="input"
            required
            [matAutocomplete]="auto"
          />
          <button
            *ngIf="!!formGroup.controls.input.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="formGroup.controls.input.reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let candidate of candidates"
              [value]="candidate"
            >
              {{ candidate }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a start date</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a end date</mat-label>
          <input
            matInput
            [matDatepicker]="endPicker"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="submit()">
          open in new tab
        </button>
        <button mat-stroked-button color="primary" (click)="clearAll()">
          clear all
        </button>
      </div>
    </form>
  </div>

  <div class="google_search-candidates">
    <h3>Links</h3>
    <div
      *ngFor="let member of targetMembers"
      class="google_search-candidates-container"
    >
      <div class="google_search-candidates-container-label">
        <mat-checkbox
          color="primary"
          (change)="changed($event.checked, member)"
          [checked]="isChecked(member)"
        >
        </mat-checkbox>
        <span class="google_search-candidates-container-label-name">
          {{ member.name }}
        </span>
      </div>
      <ul class="google_search-candidates-container-links">
        <li *ngFor="let link of member.links; index as i">
          <mat-checkbox
            color="primary"
            [checked]="member.checks[i]"
          ></mat-checkbox>
          <span class="google_search-candidates-container-links-link">
            <a [href]="link" target="_blank">{{ link }}</a>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="google_search-accordions">
    <h3>Checkboxes</h3>
    <div class="google_search-accordions-accordion">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> 乃木坂46 </mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngFor="let blog of nogizakaLinks">
            <div>
              <mat-checkbox
                color="primary"
                (change)="changed($event.checked, blog)"
                [checked]="isChecked(blog)"
              >
              </mat-checkbox>
              {{ blog.name }}
            </div>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="google_search-accordions-accordion">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> 櫻坂46 </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <ng-container *ngFor="let blog of sakurazakaLinks">
              <div>
                <mat-checkbox
                  color="primary"
                  (change)="changed($event.checked, blog)"
                  [checked]="isChecked(blog)"
                >
                </mat-checkbox>
                {{ blog.name }}
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="google_search-accordions-accordion">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> 日向坂46 </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <ng-container *ngFor="let blog of hinatazakaLinks">
              <div>
                <mat-checkbox
                  color="primary"
                  (change)="changed($event.checked, blog)"
                  [checked]="isChecked(blog)"
                >
                </mat-checkbox>
                {{ blog.name }}
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
