<div class="google_search-input">
  <form>
    <input
      class="google_search-input_input"
      type="text"
      matInput
      placeholder="Search Idle info"
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let candidate of candidates" [value]="candidate">
        {{ candidate }}
      </mat-option>
    </mat-autocomplete>
    <button (click)="submit()">open in new tab</button>
    <button (click)="clearAll()">clear all</button>
  </form>
</div>

<div class="google_search-candidates">
  <h3>Links</h3>
  <div
    *ngFor="let member of targetMembers"
    class="google_search-candidates-container"
  >
    <div class="google_search-candidates-container-label">
      <input
        type="checkbox"
        (change)="changed($event.target.checked, member)"
        [checked]="isChecked(member)"
      />
      <span class="google_search-candidates-container-label-name">
        {{ member.name }}
      </span>
    </div>
    <ul class="google_search-candidates-container-links">
      <li *ngFor="let link of member.links; index as i">
      <input type="checkbox" [checked]="member.checks[i]" />
        <span class="google_search-candidates-container-links-link">
          <a [href]="link" target="_blank">{{ link }}</a>
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="google_search-accordions">
  <h3>Checkboxes</h3>
  <div class="google_search-accordions-accordion">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> 乃木坂46 </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container *ngFor="let blog of nogizakaLinks">
          <div>
            <input
              type="checkbox"
              (change)="changed($event.target.checked, blog)"
              [checked]="isChecked(blog)"
            />
            {{ blog.name }}
          </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="google_search-accordions-accordion">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> 櫻坂46 </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ng-container *ngFor="let blog of sakurazakaLinks">
            <div>
              <input
                type="checkbox"
                (change)="changed($event.target.checked, blog)"
                [checked]="isChecked(blog)"
              />
              {{ blog.name }}
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="google_search-accordions-accordion">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> 日向坂46 </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ng-container *ngFor="let blog of hinatazakaLinks">
            <div>
              <input
                type="checkbox"
                (change)="changed($event.target.checked, blog)"
                [checked]="isChecked(blog)"
              />
              {{ blog.name }}
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
