$width: 500px;
$height: 500px;

.markdown-input-container {
  &-input {
    width: $width;
    height: $height;
    display: inline-block;
    vertical-align: top;
  }
  &-result {
    width: $width;
    height: $height;

    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border: solid 1px #000000;
    box-sizing: border-box;
  }
}
