<div class="wrapper">
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>

  <ul class="list">
    <li *ngFor="let script of scripts$ | async" class="list-detail">
      <input
        class="list-detail__checkbox"
        type="checkbox"
        (change)="checkScript($event, script.id)"
        [value]="deleteScriptIds.includes(script.id)"
      />
      <div class="list-detail__body">
        <!-- <div class="list-detail__body-status">{{ script.status }}</div> -->
        <a [routerLink]="script.id.toString()" class="list-detail__body-title">
          {{ script.title }}
        </a>
        <div class="list-detail__body-author">
          author: {{ script.author?.name }}
        </div>
        <div class="list-detail__body-sub">
          <div class="list-detail__body-sub-date">
            created: {{ script.created | date: 'short' }}
          </div>
          <div class="list-detail__body-sub-date">
            updated: {{ script.updated | date: 'short' }}
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="buttons">
    <button mat-stroked-button color="primary" (click)="newScript()">
      new script
    </button>
    <button mat-stroked-button color="primary" (click)="deleteScripts()">
      delete
    </button>
  </div>
</div>
