@import '../../../styles.scss';

.wrapper {
  @include wrapper;
  margin-top: 20px;

  .list {
    list-style-type: none;
    padding-left: 5px;

    &-detail {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      border-bottom: 1px solid;
      &__checkbox {
        display: block;
      }
      &__body {
        width: 100%;
        margin-left: 20px;
        display: flex;

        &-status {
          width: 50px;
          margin-right: 10px;
        }

        &-title {
          display: block;
          width: 150px;
          overflow-x: hidden;
        }

        &-author {
          margin-left: 20px;
        }

        &-sub {
          margin-left: auto;
          display: flex;
          &-date {
            width: 200px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  .buttons {
    button {
      width: 100px;
      margin-right: 20px;
    }
  }
}
