$toolbar-height: 100px;

.wrapper {
  margin: 10px;
}

.tool-box__wrapper {
  position: sticky;
  top: 0;
  z-index: 10;

  ::ng-deep app-tool-box {
    .wrapper {
      height: $toolbar-height;
      box-sizing: border-box;
    }
  }
}

.editor {
  display: flex;

  &__subtitle {
    align-self: stretch;
    position: relative;
  }

  &__subtitle-line {
    position: absolute;
    left: 450px;
    width: 3px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
  }

  ::ng-deep &__main {
    min-height: 600px;
    flex-basis: 80%;
    border: 1px solid #000;
    white-space: pre-line;

    &:empty:before {
      content: attr(placeholder);
      pointer-events: none;
      display: block; /* For Firefox */
      opacity: 50%;
    }

    outline: 0px solid transparent;
    padding: 10px 16px;
    counter-reset: line;

    div {
      &:before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        border-right: 1px solid #ddd;
        margin-right: 0.5em;
        color: #888;
      }
    }

    .text {
      &--highlighted {
        background-color: red !important;
        opacity: 7;
      }
    }
  }

  .console__wrapper {
    flex-basis: 20%;
    height: 100%;
    position: sticky;
    top: $toolbar-height;
  }
}
