<app-idle-switcher [value]="idleSwitchState"></app-idle-switcher>

<ng-container *ngIf="idleSwitchState.nogizakaCheck">
  <h2>乃木坂46</h2>
  <!-- <ul>
      <li *ngFor="let member of nogizakaMembers" class="member-detail">
        <ng-container *ngIf="!!member.link; else noLink">
          <a [href]="member.link" target="_blank">{{ member.name }}</a>
        </ng-container>
        <ng-template #noLink>{{ member.name }}</ng-template>
      </li>
    </ul> -->
  <ng-container *ngFor="let table of nogizakaTables">
    <div [innerHtml]="table"></div>
  </ng-container>
</ng-container>
<ng-container *ngIf="idleSwitchState.sakurazakaCheck">
  <h2>櫻坂46</h2>
  <!-- <ul>
      <li *ngFor="let member of sakurazakaMembers" class="member-detail">
        <ng-container *ngIf="!!member.link; else noLink">
          <a [href]="member.link" target="_blank">{{ member.name }}</a>
        </ng-container>
        <ng-template #noLink>{{ member.name }}</ng-template>
      </li>
    </ul> -->
  <ng-container *ngFor="let table of sakurazakaTables">
    <div [innerHtml]="table"></div>
  </ng-container>
</ng-container>
<ng-container *ngIf="idleSwitchState.hinatazakaCheck">
  <h2>日向坂46</h2>
  <!-- <ul>
      <li *ngFor="let member of hinatazakaMembers" class="member-detail">
        <ng-container *ngIf="!!member.link; else noLink">
          <a [href]="member.link" target="_blank">{{ member.name }}</a>
        </ng-container>
        <ng-template #noLink>{{ member.name }}</ng-template>
      </li>
    </ul> -->
  <ng-container *ngFor="let table of hinatazakaTables">
    <div [innerHtml]="table"></div>
  </ng-container>
</ng-container>
