<div class="member_Wrapper">
  <app-idle-switcher [value]="idleSwitchState"></app-idle-switcher>

  <section class="table-section">
    <ng-container *ngIf="idleSwitchState.nogizakaCheck">
      <h2>乃木坂46</h2>
      <ng-container *ngFor="let table of nogizakaTables">
        <ng-container
          *ngTemplateOutlet="tableTemplate; context: table"
        ></ng-container>
      </ng-container>
    </ng-container>
  </section>

  <section class="table-section">
    <ng-container *ngIf="idleSwitchState.sakurazakaCheck">
      <h2>櫻坂46</h2>
      <ng-container *ngFor="let table of sakurazakaTables">
        <ng-container
          *ngTemplateOutlet="tableTemplate; context: table"
        ></ng-container>
      </ng-container>
    </ng-container>
  </section>

  <section class="table-section">
    <ng-container *ngIf="idleSwitchState.hinatazakaCheck">
      <h2>日向坂46</h2>
      <ng-container *ngFor="let table of hinatazakaTables">
        <ng-container
          *ngTemplateOutlet="tableTemplate; context: table"
        ></ng-container>
      </ng-container>
    </ng-container>
  </section>
</div>

<ng-template #tableTemplate let-rows="rows" let-columns="columns">
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col">
            <ng-container *ngSwitchCase="'link'">
              <a [href]="row[col]" target="_blank">wiki</a>
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ row[col] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
