body {
  margin: 40px 30px;
}

h1 {
  text-align: center;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}


.about-container {
  margin-top: 15px;
  display:inline-flex;
  border-bottom: 0.1rem solid;
  width: 100%;
}
.about-date{
  width: 80px;
  margin-right: 10px;
}

.about-body {
  width: 100%;
}

.about-body-title {
  font-weight: bold;
  font-size: 14px;
}


.about-body-summary {
  font-size: 11px;
}
