<div class="wrapper">
  <ng-container *ngIf="initialized$ | async; else loadingTmp">
    <div class="chat-messages" #chatMessage>
      <ng-container *ngFor="let message of messages">
        <ng-container
          *ngTemplateOutlet="messageTemplate; context: { message: message }"
        ></ng-container>
      </ng-container>
    </div>
  </ng-container>

  <div class="chat-form">
    <p class="chat-form__status">
      <ng-container *ngIf="selected.text">
        Target: {{ selected.text }}
      </ng-container>
      <ng-container *ngIf="!!activeMessage">Reply: </ng-container>
    </p>
    <form
      #form
      class="chat-form__form"
      [formGroup]="chatForm"
      (ngSubmit)="submit()"
    >
      <textarea class="chat-form__textarea" formControlName="body"></textarea>
    </form>
  </div>
</div>

<ng-template #messageTemplate let-message="message">
  <div class="chat-message">
    <div
      class="chat-message__expand-icon"
      [class.chat-message__expand-icon--expanded]="message.expanded"
      (click)="messageClick(message)"
    >
      <mat-icon class="svg__icon">arrow_right</mat-icon>
    </div>
    <div class="chat-message__body">
      <div
        class="chat-message__text"
        [class.chat-message__text--active]="activeMessage === message"
        (click)="messageClick(message)"
      >
        <p class="chat-message__text-p">{{ message.body }}</p>
      </div>
      <p class="chat-message__selected-text" *ngIf="message.selectedText">
        {{
          message.selectedText.length > 15
            ? message.selectedText.slice(0, 15) + '..'
            : message.selectedText
        }}
      </p>
      <div class="chat-message__sub">
        <span class="chat-message__sub-reply" (click)="replyMessage(message)">{{
          message.children?.length || 0
        }}</span>

        <span class="chat-message__sub-author">{{ message.author.name }}</span>
        <span class="chat-message__sub-created">{{
          message.created | date: 'short'
        }}</span>
      </div>
    </div>
  </div>
  <div
    class="chat-message__replay"
    *ngIf="message.expanded && !!message.children?.length"
  >
    <ng-container *ngFor="let child of message.children">
      <ng-container
        *ngTemplateOutlet="messageTemplate; context: { message: child }"
      ></ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #loadingTmp>loading</ng-template>
