<div class="subtitle_Wrapper">
  <button
    mat-stroked-button
    color="primary"
    class="subtitle_MainButton"
    type="button"
    (click)="generateSubtitle()"
  >
    generate subtitle
  </button>
  <div class="subtitle_Layout_Buttons">
    <button
      mat-stroked-button
      color="primary"
      (click)="applyLayout('left')"
      [disabled]="layout === 'left'"
    >
      input
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="applyLayout('right')"
      [disabled]="layout === 'right'"
    >
      output
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="applyLayout('both')"
      [disabled]="layout === 'both'"
    >
      both
    </button>
  </div>
  <div class="subtitle_Inner">
    <div class="subtitle_Labels">
      <label [class.hide]="layout === 'right'">input</label>
      <label [class.hide]="layout === 'left'">output</label>
    </div>
    <div class="subtitle_TextAreas">
      <textarea
        class="subtitle_TextArea left"
        [class.hide]="layout === 'right'"
        [(ngModel)]="inputArea"
        placeholder="paste subtitle here"
      ></textarea>
      <textarea
        class="subtitle_TextArea right"
        [class.hide]="layout === 'left'"
        [(ngModel)]="outputArea"
      ></textarea>
    </div>
  </div>
</div>
