@import '../../styles.scss';
.wrapper {
  @include wrapper;
  width: auto;
  max-width: none;

  .tool {
    &__container {
      margin: 20px;
    }
  }

  .layout-button {
    &__container {
      margin: 20px;
    }
    button {
      width: 300px;
      height: 50px;
    }
  }

  .input-area {
    &__container {
      margin: 20px;
    }
    &__label {
      display: flex;
      width: 100%;

      &--hide {
        display: none;
      }

      label {
        flex-grow: 1;
        font-size: 30px;
        margin: 10px;
      }
    }
    &__textarea {
      display: flex;
      width: 100%;

      ::ng-deep .textarea {
        min-height: 1000px;
        // flex-grow: 1;
        width: 50%;

        &--hide {
          display: none;
        }

        [data-warning-uuid] {
          cursor: pointer;
        }
        [data-warning-num] {
          border-bottom: dotted 2px red;
        }

        [data-warning-unknown] {
          background-color: orange;
        }
      }
    }
  }
}
.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: red;
  opacity: 0.7;
  z-index: 1000;
}
/**
私の名前は田中です。
家へ帰る道中。
*/
