<div class="wrapper">
  <div class="menu">
    <div class="menu__tool">
      <h3>Tool</h3>
      <button
        (click)="dictionaryOpen = !dictionaryOpen"
        type="button"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        mat-raised-button
        color="primary"
      >
        dictionary
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="download()"
      >
        download
      </button>

      <mat-slide-toggle
        color="primary"
        [checked]="showSubtitleLine"
        (toggleChange)="showSubtitleLine = !showSubtitleLine"
      >
        line
      </mat-slide-toggle>
    </div>
    <div class="menu__layout">
      <h3>Layout: {{ layout }}</h3>
      <mat-button-toggle-group
        [ngModel]="layout"
        (ngModelChange)="applyLayout($event)"
        aria-label="Font Style"
      >
        <mat-button-toggle value="plain">plain</mat-button-toggle>
        <mat-button-toggle value="sound">sound</mat-button-toggle>
        <mat-button-toggle value="tag">tag</mat-button-toggle>
        <mat-button-toggle value="srt">srt</mat-button-toggle>
        <mat-button-toggle value="link">link</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="input-area">
    <div class="input-area__label">
      <div class="input-area__label-label">
        <label>input</label>
        <div class="input-area__caution-scroll">
          <div
            class="input-area__caution-scroll-button svg__icon"
            (click)="scrollToCaution('input')"
          >
            <mat-icon>arrow_downward</mat-icon>
          </div>
        </div>
        <div class="input-area__label-tool">
          <div class="svg__icon" (click)="saveInput()">
            <mat-icon>save</mat-icon>
          </div>
          <div class="svg__icon" (click)="refreshInput()">
            <mat-icon>refresh</mat-icon>
          </div>
        </div>
      </div>
      <div class="input-area__label-label">
        <label>output</label>
        <div
          class="input-area__label-warning"
          [class.input-area__label-warning--show]="!!outputWarning"
        >
          <div class="input-area__label-warning-inner">
            <mat-icon>warning</mat-icon>
            <div class="input-area__label-warning-tooltip">
              {{ outputWarning }}
            </div>
          </div>
        </div>
        <div class="input-area__label-tool">
          <div class="svg__icon" (click)="refreshOutput()">
            <mat-icon>refresh</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="input-area__textarea">
      <div class="input-area__subtitle" *ngIf="showSubtitleLine">
        <div class="input-area__subtitle-line"></div>
      </div>
      <quill-editor
        [debounceTime]="300"
        class="textarea"
        (onEditorCreated)="onEditorCreated($event, 'input')"
      ></quill-editor>
      <div class="input-area__subtitle" *ngIf="showSubtitleLine">
        <div class="input-area__subtitle-line"></div>
      </div>
      <quill-editor
        [debounceTime]="300"
        class="textarea"
        (onEditorCreated)="onEditorCreated($event, 'output')"
      ></quill-editor>
    </div>
  </div>
</div>

<app-warning-ballon
  [messenger$]="warningMessenger$"
  (warningChange)="warningChange($event)"
></app-warning-ballon>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="dictionaryOpen"
  (overlayOutsideClick)="dictionaryOpen = false"
>
  <app-dictionary [newDictionaryKeys]="newDictionaryKeys"></app-dictionary>
</ng-template>
