<div class="wrapper">
  <div class="tool__container">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="generateSubtitle()"
    >
      generate subtitle
    </button>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="convertSound()"
    >
      convert sound text
    </button>
    <button
      (click)="dictionaryOpen = !dictionaryOpen"
      type="button"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      mat-raised-button
      color="primary"
    >
      dictionary
    </button>
  </div>
  <div class="layout-button__container">
    <button
      mat-stroked-button
      color="primary"
      (click)="applyLayout('left')"
      [disabled]="layout === 'left'"
    >
      input
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="applyLayout('right')"
      [disabled]="layout === 'right'"
    >
      output
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="applyLayout('both')"
      [disabled]="layout === 'both'"
    >
      both
    </button>
  </div>
  <div class="input-area__container">
    <div class="input-area__label">
      <label [class.input-area__label--hide]="layout === 'right'">input</label>
      <label [class.input-area__label--hide]="layout === 'left'">output</label>
    </div>
    <div class="input-area__textarea">
      <quill-editor
        class="textarea"
        [class.textarea--hide]="layout === 'left'"
        (onEditorCreated)="onEditorCreated($event, 'input')"
      ></quill-editor>
      <quill-editor
        class="textarea"
        [class.textarea--hide]="layout === 'right'"
        (onEditorCreated)="onEditorCreated($event, 'output')"
      ></quill-editor>
    </div>
  </div>
</div>

<app-warning-ballon
  [messenger$]="warningMessenger$"
  (formatChange)="warningChange($event)"
></app-warning-ballon>

<div class="loading-modal" *ngIf="loading">loading</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="dictionaryOpen"
>
  <app-dictionary (closeEvent)="dictionaryOpen = false"></app-dictionary>
</ng-template>
