@import '../../styles.scss';
.wrapper {
  @include wrapper;
  width: auto;
  max-width: none;

  .menu {
    margin: 0 20px;

    &__row {
      margin: 10px 0;

      button {
        margin-right: 20px;
      }
    }
  }

  .input-area {
    &__container {
      margin: 20px;
    }
    &__label {
      display: flex;
      width: 100%;
      &-label {
        display: flex;
        width: 50%;
      }

      &-warning {
        margin-left: 20px;
        display: none;
        &--show {
          display: block;
        }

        &-inner {
          position: relative;
          mat-icon {
            color: #ff9966;
          }
          &:hover {
            .input-area__label-warning-tooltip {
              display: block;
            }
          }
        }
        &-tooltip {
          display: none;
          content: attr(data-warning-message) '';
          position: absolute;
          bottom: 30px;
          left: 10px;
          z-index: 25;
          background-color: #c0c0c0;
          box-shadow: 0px 0px 10px;
          width: 300px;
          border: 1px solid black;
        }
      }

      label {
        font-size: 30px;
      }

      &-tool {
        margin: 0 20px 0 auto;
        display: flex;
        .svg__icon {
          margin-right: 10px;
        }
      }
    }
    &__textarea {
      display: flex;
      width: 100%;

      max-height: 95vh;
      overflow: auto;

      ::ng-deep .textarea {
        min-height: 1000px;
        // flex-grow: 1;
        width: 50%;
        .ql-editor {
          p {
            margin: 0px;
          }
        }

        [data-warning-uuid] {
          cursor: pointer;
        }
        [data-warning-num] {
          border-bottom: dotted 2px red;
        }

        [data-warning-unknown] {
          background-color: orange;
        }
      }
    }

    &__subtitle {
      align-self: stretch;
      position: relative;
    }

    &__subtitle-line {
      position: absolute;
      left: 420px;
      width: 3px;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.2);
    }
  }
}
.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: red;
  opacity: 0.7;
  z-index: 1000;
}

.svg__icon {
  &:hover {
    color: #3f51b5;
  }
}

::ng-deep span[data-caution] {
  position: relative;
  background-color: orange;

  &:hover:after {
    content: attr(data-caution) '';
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 25;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 10px;
    width: 200px;
    border: 1px solid black;
  }
}
