.wrapper {
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;

  .row {
    display: flex;
    align-items: center;
    &__item {
      margin-right: 30px;
      display: flex;

      .svg__icon {
        display: block;
        align-self: center;
      }

      &-remove {
        margin-left: 50px;

        .svg__icon {
          margin-right: 20px;
        }
      }
    }
  }

  .highlight {
    margin-left: 5px;
  }
}

.svg__icon {
  &:hover {
    color: #54b303;
  }
}
