.wrapper {
  border: 1px solid #000;
  text-align: center;

  .word-counter {
    margin-left: auto;
  }

  .row {
    display: flex;
    align-items: center;
    &__item {
      margin-right: 30px;
      display: flex;

      .svg__icon {
        display: block;
        align-self: center;
      }

      &-remove {
        .svg__icon {
          margin-right: 20px;
        }
      }
    }
    &__label {
      margin-right: 20px;
    }
  }

  .highlight {
    margin-left: 5px;
  }
}

.svg__icon {
  &:hover {
    color: #3f51b5;
  }
  cursor: pointer;
}
