<ng-container *ngIf="!!value">
  <label
    ><mat-checkbox
      color="primary"
      [ngModel]="value.nogizakaCheck"
      (ngModelChange)="checkboxChange($event, 'nogizaka')"
      >乃木坂46</mat-checkbox
    ></label
  >
  <label
    ><mat-checkbox
      color="primary"
      [ngModel]="value.sakurazakaCheck"
      (ngModelChange)="checkboxChange($event, 'sakurazaka')"
      >櫻坂46</mat-checkbox
    ></label
  >
  <label
    ><mat-checkbox
      color="primary"
      [ngModel]="value.hinatazakaCheck"
      (ngModelChange)="checkboxChange($event, 'hinatazaka')"
      >日向坂46</mat-checkbox
    ></label
  >
</ng-container>
